# Virtual environment
venv/
env/

# Python bytecode
*.pyc
__pycache__/
*.py[cod]
*.so

# Conda environment
*.conda

# Database files
instance/
*.sqlite3
*.db

# Environment variables
.env

# VS Code settings (optional)
.vscode/
.idea/
*.iml

# MacOS junk files
.DS_Store
Thumbs.db


# Other files that don't need to be tracked
.log
temporery.py